<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>screensize.brylok</string>
	<key>connections</key>
	<dict>
		<key>069B22C1-BB49-4A42-A342-B450E43AF124</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8304D4E-ED64-48EF-ABA6-8963C1D2AE7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>792FEB92-7A37-4BF5-93BD-3A3C31E5157C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F46B3969-05D7-40DA-8464-7A2CB8A15A56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>069B22C1-BB49-4A42-A342-B450E43AF124</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bryan Lokey</string>
	<key>description</key>
	<string>Show screensize of your monitor or browser windows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Screensize</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>osascript say-screen-size.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>069B22C1-BB49-4A42-A342-B450E43AF124</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>792FEB92-7A37-4BF5-93BD-3A3C31E5157C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Your resolution is</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8304D4E-ED64-48EF-ABA6-8963C1D2AE7A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ssize</string>
				<key>subtext</key>
				<string>Screensize of monitor or browser</string>
				<key>text</key>
				<string>Screensize</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F46B3969-05D7-40DA-8464-7A2CB8A15A56</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Show screensize of your monitor or browser windows

#Commands

sscreen				(outputs screen size)

sscreen chrome		(outputs chrome window size)

sscreen ch			(outputs chrome window size)

sscreen firefox		(outputs firefox window size)

sscreen ff			(outputs firefox window size)

sscreen safari		(outputs safari window size)

sscreen sf			(outputs safari window size)</string>
	<key>uidata</key>
	<dict>
		<key>069B22C1-BB49-4A42-A342-B450E43AF124</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>792FEB92-7A37-4BF5-93BD-3A3C31E5157C</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>D8304D4E-ED64-48EF-ABA6-8963C1D2AE7A</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>F46B3969-05D7-40DA-8464-7A2CB8A15A56</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.bryanlokey.com</string>
</dict>
</plist>
